<%= form_for @project, :html => { :class => "text-center" } do |f| %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <script>
  $(".datepicker").datepicker({
      format: "yyyy-mm-dd",
      todayBtn: "linked",
      autoclose: true,
      todayHighlight: true
  });
  </script>

  <div class="field control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title, :autofocus => true %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :rows => 2 %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :links, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :links, :rows => 3, :cols => 30 %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :customer_id, :class => "control-label" %>
    <div class="controls">
      <%= collection_select(:project, :customer_id, Customer.all, :id, :title, prompt: true) %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :status, :class => "control-label" %>
    <div class="controls">
      <%= select("project", "status", options_for_select(status_options(),@project.status)) %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :start_date, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :start_date, :class => "datepicker" %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :due_date, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :due_date, :class => "datepicker" %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :completed_date, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :completed_date, :class => "datepicker" %>
    </div>
  </div>
  <div class="actions text-center">
    <%= f.submit %>
  </div>
<% end %>
