<% if project.customer_id %>
  <% customer = Customer.find(project.customer_id) %>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-8">
      <!--<%= link_to_modal project.status, project_status_path(project),
                            :class => "label label-#{status_color(project.status)}" %>-->
      <%= render partial: 'status', locals: {project: project} %>
      <h4>
        <%= link_to project.title, project %>
        <small>
          <% if customer %>
            <%= customer.title %>
          <% end %>
        </small>
      </h4>
    </div>
    <div class="col-md-2">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Links <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% project.links.split("\r\n").each do |link| %>
            <% matches = link.match(/\[(.*)\]\((.*)\)/) %>
            <% if matches %>
              <li><%= link_to matches[1], matches[2], :target => "_blank" %></li>
            <% else %>
              <li><%= link_to link, link, :target => "_blank" %></li>
            <% end %>
          <% end %>
        </ul>
      </div> <!-- btn-group -->
    </div>
    <div class="col-md-2">
      <div class="btn-group">
        <%= link_to "Edit", edit_project_path(project),
                            :class => "btn btn-default",
                            :remote => true %>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Edit", edit_project_path(project), :remote => true %>
          </li>
          <li>
          <%= link_to "Delete", project_path(project),
                method: "delete", class: "",
                data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
      </div> <!-- btn-group -->
    </div>
  </div>
</div>
