<% collapsable = true if collapsable.nil? %>
<% if project.customer_id %>
  <% customer = Customer.find(project.customer_id) %>
<% end %>
<div class="panel panel-collapsed panel-<%=status_color(project.status)%>">
  <div class="panel-heading <%if collapsable %>clickable<% end %>">
    <div class="panel-title"><%= project.title %> - 
      <%= render partial: 'projects/status', locals: {project: project} %>
    </div>
    
    <%if collapsable %>
      <span class="pull-right">
        <i class="glyphicon glyphicon-minus"></i>
      </span>
    <% end %>
  </div>
  <div class="panel-body">
    <!-- nav tabs -->
    <ul class="nav nav-tabs" id="project-tab">
      <li class="active"><a href="#overview-<%=project.id%>" data-toggle="tab">
        <span class="glyphicon glyphicon-stats"></span> Overview
      </a></li>
      <li><a href="#tasks-<%=project.id%>" data-toggle="tab">
        <span class="glyphicon glyphicon-ok"></span> Tasks
      </a></li>
      <li><a href="#settings-<%=project.id%>" data-toggle="tab">
        <span class="glyphicon glyphicon-cog"></span> Settings
      </a></li>
    </ul> <!-- nav-tabs -->
    
    <!-- tab panes -->
    <div class="tab-content">
      <div class="well tab-pane active" id="overview-<%=project.id%>">
        <p><strong>Description: </strong><%= project.description %></p>
        <p><strong>Customer: </strong><% if customer %><%= link_to customer.title, customer_path(customer) %><% else %>None<% end %></p>
        <p><strong>Start Date: </strong><%= project.start_date %></p>
        <p><strong>Due Date: </strong><%= project.due_date %></p>
        <p><strong>Completed Date: </strong><%= project.completed_date %></p>
      </div> <!-- overview pane -->
      
      <div class="well tab-pane" id="tasks-<%=project.id%>">
        <ul class="list-group checked-list-box">
          <li class="list-group-item" id="1">Cras justo odio</li>
          <li class="list-group-item" id="2" data-checked="true">Dapibus ac facilisis in</li>
        </ul>
        <%= link_to "add task", "#" %>
      </div> <!-- tasks pane -->
      
      <div class="well tab-pane" id="settings-<%=project.id%>">
        <div class="btn-group">
          <%= link_to "<span class='glyphicon glyphicon-wrench'></span> edit".html_safe, edit_project_path(project), class: "btn btn-default", :remote => true %>
          <%= link_to "<span class='glyphicon glyphicon-trash'></span> delete".html_safe, project_path(project), method: "delete", class: "btn btn-default", data: { confirm: 'Are you sure?' } %>
        </div>
        <table class="table table-hover">
          <tr>
            <td class="col-md-1 table-bordered text-right"><strong>Status</strong></td>
            <td class="span10"><%= render partial: 'projects/status', locals: {project: project} %></td>
          </tr>
        </table>
      </div> <!-- settings pane -->
    </div> <!-- tab-content -->
  </div> <!-- panel-body -->
</div> <!-- panel -->
