<% collapsable = true if collapsable.nil? %>
<% if project.customer_id %>
  <% customer = Customer.find(project.customer_id) %>
<% end %>
<div class="panel panel-collapsed panel-<%=status_color(project.status)%>">
  <div class="panel-heading <%if collapsable %>clickable<% end %> container-fluid" style="padding-top:.5em;">
    <div class="panel-title project-panel-title row-fluid">
      <div class="col-md-2">
        <div class="project-title"><%= project.title %></div><br>
        <% if customer %><div class="project-customer-title text-muted"><%= customer.title %></div><% end %>
      </div>
      <div class="col-md-4">
        <%= render partial: 'projects/workflow', locals: {project: project} %>
      </div>
      <div class="col-md-5">
      </div>
      <%if collapsable %>
        <div class="pull-right">
          <i class="glyphicon glyphicon-minus" style="font-size: .8em;"></i>
        </div>
      <% end %>
    </div> <!-- row-fluid -->
  </div>
  <div class="panel-body">
    <!-- nav tabs -->
    <ul class="nav nav-tabs" id="project-tab">
      <li class="active"><a href="#overview-<%=project.id%>" data-toggle="tab">
        <span class="glyphicon glyphicon-stats"></span> Overview
      </a></li>
      <li><a href="#tasks-<%=project.id%>" data-toggle="tab">
        <span class="glyphicon glyphicon-ok"></span> Tasks
      </a></li>
      <li><a href="#settings-<%=project.id%>" data-toggle="tab">
        <span class="glyphicon glyphicon-cog"></span> Settings
      </a></li>
    </ul> <!-- nav-tabs -->
    
    <!-- tab panes -->
    <div class="tab-content">
      <div class="well tab-pane active" id="overview-<%=project.id%>">
        <p><strong>Description: </strong><%= project.description %></p>
        <p><strong>Customer: </strong><% if customer %><%= link_to customer.title, customer_path(customer) %><% else %>None<% end %></p>
        <p><strong>Start Date: </strong><%= project.start_date %></p>
        <p><strong>Due Date: </strong><%= project.due_date %></p>
        <p><strong>Completed Date: </strong><%= project.completed_date %></p>
      </div> <!-- overview pane -->
      
      <div class="well tab-pane" id="tasks-<%=project.id%>">
        <%= render partial: 'tasks/index', locals: {project: project, tasks: Task.where(:project_id => project.id)} %>
      </div> <!-- tasks pane -->
      
      <div class="well tab-pane" id="settings-<%=project.id%>">
        <div class="btn-group">
          <%= link_to "<span class='glyphicon glyphicon-wrench'></span> edit".html_safe, edit_project_path(project), class: "btn btn-default", :remote => true %>
          <%= link_to "<span class='glyphicon glyphicon-trash'></span> delete".html_safe, project_path(project), method: "delete", class: "btn btn-default", data: { confirm: 'Are you sure?' } %>
        </div>
        <table class="table table-hover">
          <tr>
            <td class="col-md-1 table-bordered text-right"><strong>Status</strong></td>
            <td class="span10"><%= render partial: 'projects/status', locals: {project: project} %></td>
          </tr>
        </table>
      </div> <!-- settings pane -->
    </div> <!-- tab-content -->
  </div> <!-- panel-body -->
</div> <!-- panel -->
